{% extends "./base.html" %}

{% block body %}
    
    <div class="flex justify-center p-8 text-2xl font-bold">Iniciar sesión</div>

    <div class="flex justify-center items-center">
        <form method="POST" class="bg-gray-100 shadow-md rounded-lg p-8 w-full max-w-md">
            {% csrf_token %}
            
            <div class="mb-4 flex items-center">
                <label for="id_username" class="text-gray-700 font-bold mr-4">Usuario</label>
                {{ form.username }}
            </div>

            <div class="mb-4 flex items-center relative">
                <label for="id_password" class="text-gray-700 font-bold mr-4">Contraseña</label>
                
                <input type="password" id="passwordField" name="password" class="border rounded-lg px-4 py-2 w-full">
                <button type="button" onclick="togglePassword()" class="absolute right-2 top-1/2 transform -translate-y-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12h.01M19.072 19.071A10 10 0 004.93 4.929M10 14a4 4 0 114-4m0 0h.01M9.858 9.857A4.001 4.001 0 0115 15.001"/>
                    </svg>
                </button>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="mt-4 bg-cyan-700 hover:bg-cyan-900 text-white font-bold py-2 px-4 rounded-lg">
                    Iniciar sesión
                </button>
            </div>
        </form>

        {% if messages %}
            <ul class="mt-4 text-red-500">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById("passwordField");
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);
        }
    </script>

{% endblock %}
