{% extends "./base.html" %}

{% block body %}
<div class="flex justify-center p-8 text-2xl font-bold">Para crear tu cuenta te pediremos algunos datos</div>
<center>
    <div class="flex justify-center text-center pt-3"></div>
    <a href="{% url 'cliente_register' %}" class="bg-cyan-600 text-white px-8 py-2 rounded-lg shadow-md hover:bg-cyan-800 transition duration-300 ease-in-out mr-2">
        Registrar Cliente
    </a>
    <a href="{% url 'administrador_register' %}" class="bg-cyan-600 text-white px-8 py-2 rounded-lg shadow-md hover:bg-cyan-800 transition duration-300 ease-in-out">
        Registrar Administrador
    </a>
</div>
</center>


{% endblock %}


